

header {
    padding: 20px;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 2px 0px 3px 5px rgba(0, 0, 0, 0.2);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 2px 0px 10px 10px rgba(0, 0, 0, 0.3);
    }
    100% {
        transform: scale(1);
        box-shadow: 2px 0px 3px 5px rgba(0, 0, 0, 0.2);
    }
}

.logo {
    text-decoration: none;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    box-shadow: 2px 0px 3px 5px rgba(235, 229, 229, 0.2);
    border-radius: 20px;
    width: 300px;
    margin: 20px auto;
    background-color: rgb(5, 77, 49);
    animation: pulse 2s infinite; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #e8e9e9; 
}


.logo:hover {
    transform: scale(1.1); 
    box-shadow: 2px 0px 15px 10px rgba(0, 0, 0, 0.4); 
}

.Ftitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto; 
    width: 80%; 
    max-width: 1200px; 
    background-color: #595a5a;
    color: azure;
    border-radius: 45px;
    padding: 10px;
}

.titulop {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: #000 2px 5px 3px, #050022 5px 8px 9px;
    margin: 0; 
}

.geral {
    background-image: linear-gradient(40deg, #454d49, #1d2524);
    width: 90%; 
    max-width: 1200px; 
    margin: 20px auto; 
    padding: 20px;
    border-radius: 5%;
    opacity: 0.8;
}

.img1 {
    width: 100%;
    height: auto; 
    border-radius: 10%;
    margin: 20px 0; 
}

.desc, .desc2, .desc3 {
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px auto; 
    text-indent: 5%;
    color: aliceblue;
    max-width: 800px; 
}

.rodape {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #535555;
    padding: 16px;
    font-weight: bold;
    color: aliceblue;
    border-color: #000;
    border-style: groove;
}

.back {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    text-decoration: none; 
    margin: 20px 0;
    text-align: left;
    position: relative;
    padding-left: 20px;
    list-style: none; 
}


a.back  {
    text-decoration: none; 
    color: inherit; 
    font-weight: bold;
    
}


.back::after {
    content: "";
    width: 0%;
    height: 4px;
    background-color: #020000;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out;
}


.back:hover::after {
    width: 100%;
    background-color: #000000;
}

li{
    text-decoration: none;
}
body{
    background-color: #c4c0c2;
}